<apt>
libav-tools
curl
ffmpeg
build-essential
pkg-config
r-base-dev
libxml2-dev
libssl-dev
libcurl4-openssl-dev
python3-pip
python3-dev
<apt-end>

<python>
tensorflow
tensorflow-hub
pillow
matplotlib 
<python-end>

<cran>
shinyWidgets
tensorflow
bigrquery
readr
ggplot2
kableExtra
dplyr
data.table
tibble
randomForest
knitr
rmarkdown
flexdashboard
lattice
plotly
<cran-end>